## Q1

In [1]:
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

In [2]:
select = ['Q2','Q3','Q4','Q5','Q8','Q9']

In [3]:
answer = [q for q in question if q in select]

print(answer)

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

## Q2

In [13]:
import pandas as pd 

df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df.head(5)

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [14]:
df['Country'].value_counts()

Country
Japan            51
USA              51
Germany          50
Canada           44
Great Britain    43
France           35
Name: count, dtype: int64

In [16]:
df1 = df.groupby(['Year', 'Country']).agg({'Spending_USD': 'sum', 'Life_Expectancy': 'mean'}).reset_index()
df1

     Year        Country  Spending_USD  Life_Expectancy
0    1970         France       192.143             72.2
1    1970        Germany       252.311             70.6
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020         France      5468.418             82.3
270  2020        Germany      6938.983             81.1
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [32]:
pivot_table = pd.pivot_table(df1, values='Life_Expectancy', index=['Year'], columns='Country',aggfunc="mean", fill_value=0).reset_index().rename_axis(None,axis =1)
pivot_table

    Year  Canada  France  Germany  Great Britain  Japan   USA
0   1970     0.0    72.2     70.6           71.9   72.0  70.9
1   1971    72.8     0.0     70.8           71.9   72.9  71.2
2   1972     0.0     0.0     71.0            0.0   73.2  71.2
3   1973     0.0     0.0     71.3            0.0   73.4  71.4
4   1974     0.0     0.0     71.5            0.0   73.7  72.0
5   1975     0.0    73.0     71.4            0.0   74.3  72.7
6   1976    73.8     0.0     71.8            0.0   74.8  72.9
7   1977     0.0     0.0     72.5            0.0   75.3  73.3
8   1978     0.0     0.0     72.4            0.0   75.7  73.5
9   1979    75.1     0.0     72.8            0.0   76.2  73.9
10  1980    75.2    74.3     72.9           73.2   76.1  73.7
11  1981    75.5     0.0     73.2           73.8   76.5  74.1
12  1982    75.6     0.0     73.5           74.1   76.9  74.5
13  1983    75.9     0.0     73.8           74.3   77.0  74.6
14  1984    76.2     0.0     74.3           74.5   77.4  74.7
15  1985    76.3    75.4     75.0           74.7   77.6  74.7
16  1986    76.5     0.0     75.2           74.8   78.1  74.7
17  1987    76.7     0.0     75.6           75.2   78.5  74.9
18  1988    76.8     0.0     75.9           75.3   78.4  74.9
19  1989    77.1     0.0     76.0           75.4   78.8  75.1
20  1990    77.3    77.0     77.3           75.7   78.9  75.3
21  1991    77.6    77.2      0.0           75.9   79.1  75.5
22  1992    77.8    77.5     76.1           76.3   79.2  75.7
23  1993    77.8    77.5     76.1           76.2   79.4  75.5
24  1994    77.9    78.0     76.5           76.8   79.8  75.7
25  1995    78.0    78.1     76.6           76.7   79.6  75.7
26  1996    78.2    78.2     76.9           76.9   80.3  76.1
27  1997    78.3    78.6     77.3           77.2   80.5  76.5
28  1998    78.6    78.8     77.7           77.3   80.6  76.7
29  1999    78.8    78.9     77.9           77.5   80.5  76.7
30  2000    79.1    79.2     78.2           77.9   81.2  76.7
31  2001    79.3    79.3     78.5           78.2   81.5  76.9
32  2002    79.5    79.4     78.5           78.3   81.8  77.0
33  2003    79.6    79.3     78.6           78.4   81.8  77.1
34  2004    79.9    80.3     79.2           79.0   82.1  77.6
35  2005    80.0    80.4     79.4           79.2   82.0  77.6
36  2006    80.4    81.0     79.8           79.5   82.4  77.8
37  2007    80.5    81.2     80.1           79.7   82.6  78.1
38  2008    80.7    81.4     80.2           79.8   82.7  78.1
39  2009    80.9    81.5     80.3           80.4   83.0  78.5
40  2010    81.2    81.8     80.5           80.6   82.9  78.6
41  2011    81.4    82.3     80.5           81.0   82.7  78.7
42  2012    81.6    82.1     80.6           81.0   83.2  78.8
43  2013    81.7    82.3     80.6           81.1   83.4  78.8
44  2014    81.8    82.8     81.2           81.4   83.7  78.9
45  2015    81.9    82.4     80.7           81.0   83.9  78.7
46  2016    82.0    82.7     81.0           81.2   84.1  78.7
47  2017    81.9    82.7     81.1           81.3   84.2  78.6
48  2018    82.0    82.8     81.0           81.3   84.3  78.7
49  2019    82.2    82.9     81.3           81.4   84.4  78.8
50  2020    81.7    82.3     81.1           80.4   84.7  77.0

In [38]:
df2 = pivot_table.sort_values(by = "Year", ascending= False)
df2

    Year  Canada  France  Germany  Great Britain  Japan   USA
50  2020    81.7    82.3     81.1           80.4   84.7  77.0
49  2019    82.2    82.9     81.3           81.4   84.4  78.8
48  2018    82.0    82.8     81.0           81.3   84.3  78.7
47  2017    81.9    82.7     81.1           81.3   84.2  78.6
46  2016    82.0    82.7     81.0           81.2   84.1  78.7
45  2015    81.9    82.4     80.7           81.0   83.9  78.7
44  2014    81.8    82.8     81.2           81.4   83.7  78.9
43  2013    81.7    82.3     80.6           81.1   83.4  78.8
42  2012    81.6    82.1     80.6           81.0   83.2  78.8
41  2011    81.4    82.3     80.5           81.0   82.7  78.7
40  2010    81.2    81.8     80.5           80.6   82.9  78.6
39  2009    80.9    81.5     80.3           80.4   83.0  78.5
38  2008    80.7    81.4     80.2           79.8   82.7  78.1
37  2007    80.5    81.2     80.1           79.7   82.6  78.1
36  2006    80.4    81.0     79.8           79.5   82.4  77.8
35  2005    80.0    80.4     79.4           79.2   82.0  77.6
34  2004    79.9    80.3     79.2           79.0   82.1  77.6
33  2003    79.6    79.3     78.6           78.4   81.8  77.1
32  2002    79.5    79.4     78.5           78.3   81.8  77.0
31  2001    79.3    79.3     78.5           78.2   81.5  76.9
30  2000    79.1    79.2     78.2           77.9   81.2  76.7
29  1999    78.8    78.9     77.9           77.5   80.5  76.7
28  1998    78.6    78.8     77.7           77.3   80.6  76.7
27  1997    78.3    78.6     77.3           77.2   80.5  76.5
26  1996    78.2    78.2     76.9           76.9   80.3  76.1
25  1995    78.0    78.1     76.6           76.7   79.6  75.7
24  1994    77.9    78.0     76.5           76.8   79.8  75.7
23  1993    77.8    77.5     76.1           76.2   79.4  75.5
22  1992    77.8    77.5     76.1           76.3   79.2  75.7
21  1991    77.6    77.2      0.0           75.9   79.1  75.5
20  1990    77.3    77.0     77.3           75.7   78.9  75.3
19  1989    77.1     0.0     76.0           75.4   78.8  75.1
18  1988    76.8     0.0     75.9           75.3   78.4  74.9
17  1987    76.7     0.0     75.6           75.2   78.5  74.9
16  1986    76.5     0.0     75.2           74.8   78.1  74.7
15  1985    76.3    75.4     75.0           74.7   77.6  74.7
14  1984    76.2     0.0     74.3           74.5   77.4  74.7
13  1983    75.9     0.0     73.8           74.3   77.0  74.6
12  1982    75.6     0.0     73.5           74.1   76.9  74.5
11  1981    75.5     0.0     73.2           73.8   76.5  74.1
10  1980    75.2    74.3     72.9           73.2   76.1  73.7
9   1979    75.1     0.0     72.8            0.0   76.2  73.9
8   1978     0.0     0.0     72.4            0.0   75.7  73.5
7   1977     0.0     0.0     72.5            0.0   75.3  73.3
6   1976    73.8     0.0     71.8            0.0   74.8  72.9
5   1975     0.0    73.0     71.4            0.0   74.3  72.7
4   1974     0.0     0.0     71.5            0.0   73.7  72.0
3   1973     0.0     0.0     71.3            0.0   73.4  71.4
2   1972     0.0     0.0     71.0            0.0   73.2  71.2
1   1971    72.8     0.0     70.8           71.9   72.9  71.2
0   1970     0.0    72.2     70.6           71.9   72.0  70.9

## Q4

In [7]:
import pandas as pd

In [2]:
file = "서울특별시 강남구_생활폐기물배출량_20221019.csv"
df = pd.read_csv(file, encoding = "cp949")

In [6]:
df.head(12)

    강남구  2019년(생활폐기물)-톤  2020년(생활폐기물)-톤
0   01월            7550            7350
1   02월            6387            6688
2   03월            7198            6973
3   04월            6820            6448
4   05월            7767            6470
5   06월            7275            7923
6   07월            8164            8015
7   08월            7807            7859
8   09월            6811            7452
9   10월            7222            6875
10  11월            7592            7337
11  12월            7298            6911